<div>
	The following URL:
	<p>
		<b><%=h @real_url -%></b>
	</p>
	has a length of <%= @real_url.size -%> characters and resulted in the following  EqualURL which has a length of <%= "#{SiteController::SITE_URL}#{@key}".size -%>:
	
	<p>
		<b>http://equalurl.com/<%= @key -%></b><br />
		[<a target="_blank" href="/<%= @key -%>" >Open in new window</a>]
	</p>
</div>