<h1>EqualURL was created!</h1>
	
	The following URL:
	<blockquote>
		<b><%=h @real_url -%></b>
	</blockquote>

	has a length of <%=h @real_url.size -%> characters and resulted in the following  EqualURL which has a length of <%=h "#{SiteController::SITE_URL}#{@key}".size -%>:
	
	<blockquote>
		<b>http://equalurl.com/<%=h @key -%></b><br />
		[<a target="_blank" href="/<%=h @key -%>" >Open in new window</a>]
	</blockquote>
		
		
	<a href="/" >Make another one!</a>
</div>