<div>
	The following URL:
	<p>
		<b><%=h @real_url -%></b>
	</p>
	has a length of <%=h @real_url.size -%> characters and resulted in the following  EqualURL which has a length of <%=h "#{SiteController::SITE_URL}#{@key}".size -%>:
	
	<p>
		<b>http://equalurl.com/<%=h @key -%></b><br />
		[<a target="_blank" href="/<%=h @key -%>" >Open in new window</a>]
	</p>
	
	<a href="/" >Make another one!</a>
</div>